<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eDostavaServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64428/eDostavaServis.asmx"
                binding="basicHttpBinding" bindingConfiguration="eDostavaServisSoap"
                contract="eDostavaServis.eDostavaServisSoap" name="eDostavaServisSoap" />
        </client>
    </system.serviceModel>
</configuration>